body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    font-size: 16px;
    letter-spacing: 0.02em; }

    .header_logotipe {
    color: #4D5AE5;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17px;
    letter-spacing: 0.03em;
    vertical-align: middle;
    text-transform: uppercase;
    }

.header_logo {
    color: #2E2F42;
    font-family: 'Raleway',sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17px;
    letter-spacing: 0.03em;
    vertical-align: middle;
    text-transform: uppercase;
}

.header_menu_link {
    color: #2E2F42;    ;
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
}

.header_menu_link:hover,
.header_menu_link:focus {
    color: #404BBF; 
}

.header_address:hover,
.header_address:focus {
    color: aqua;
}

